/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
    box-sizing: border-box;
  }
  .messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 347px;
    overflow: scroll;
  }
  .messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
  }
  .messages .message.left .avatar {
    background-color: #f5886e;
    float: left;
  }
  .messages .message.left .text_wrapper {
    background-color: #ffe6cb;
    margin-left: 20px;
  }
  .messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #ffe6cb;
  }
  .messages .message.left .text {
    color: #c48843;
  }
  .messages .message.right .avatar {
    background-color: #fdbf68;
    float: right;
  }
  .messages .message.right .text_wrapper {
    background-color: #c7eafc;
    margin-right: 20px;
    float: right;
  }
  .messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #c7eafc;
  }
  .messages .message.right .text {
    color: #45829b;
  }
  .messages .message.appeared {
    opacity: 1;
  }
  .messages .message .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
  }
  .messages .message .text_wrapper {
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative;
  }
  .messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0px;
  }
  .messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
  }
  .messages .message .text_wrapper .text {
    font-size: 18px;
    font-weight: 300;
  }